body {
	font-family: sans-serif;
	text-align: center;
}

#input,#output,#generated {
	display: none;
}

input[type=text],textarea {
	width: 300px;
}

.clickor {
	font-size: larger;
	font-weight: bold;
	margin-top: 0.5em;
}

.downloadtitle {
	margin-bottom: 0.5em;
}

#downloadsection,#chatmail-container,#invitation-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.downloadqrcode {
	margin: 10px;
}

hr {
	width: 20%;
}

h1,h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}
